<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<link rel="stylesheet" type="text/css" href="/css/header.css">-->
  <title>jwork</title>
</head>

<body>
<header data-th-fragment="header">
  <div style="display: flex; background-color: gray; padding-top: 20px; padding-bottom: 20px;">
    <div style="display: flex">
      <div style="margin-left: 10px">소개</div>
      <div style="margin-left: 10px">서비스</div>
      <div style="margin-left: 10px">고객지원</div>
    </div>
    <div>
      <button style="margin-left: 10px">CMP Portal-></button>
    </div>
  </div>
</header>
</body>
</html>